<main class="wp-block-group">
    <div class="k2 modal-overlay" style="display: none">
      <div class="modal-body">
        <div class="modal-content">
           
        </div>
        <div class="modal-footer">
          Powered by <img src="../../images/svg/k2-logo-with-name.svg" alt='Kopo Kopo (Logo)' /> 
        </div>
      </div>
      <p class='switch-to-manual-payments'>Having trouble? Pay via 
          <button id='switch-to-manual-payments' class="link">M-PESA Buy Goods</button>
      </p>
    </div>
</main>
