WP_SITE_URL=your-wordpress-site\'s-site-url # eg http://localhost
WC_REST_URL=<WP_SITE_URL>/wp-json/wc/v3 # eg http://localhost/wp-json/wc/v3
WC_CONSUMER_KEY=your-wordpress-site\'s-woocommerce-rest-api-consumer-key # ck_abc
WC_CONSUMER_SECRET=your-wordpress-site\'s-woocommerce-rest-api-consumer-key # cs_xyz

WP_CUSTOMER_USER_NAME=a-test-customer-user-name # customer accound user name
WP_CUSTOMER_PASSWORD=a-test-customer-password # customer account password