:root {
  /* COLORS */
  --Gray-Gray-800: #40444C;
  --Secondary-Success-success-500: #149187;
  --Primary-Navy-Blue-navy-blue-100: #BCC1C8;
  --Primary-Navy-Blue-navy-blue-300: #6E7888;
  --Primary-Navy-Blue-navy-blue-400: #525E71;
  --Primary-Navy-Blue-navy-blue-600: #233147;
  --Primary-Navy-Blue-navy-blue-900: #101721;
  --Primary-Navy-Blue-navy-blue-500: #27364E;
  --Secondary-Dark-Blue-dark-blue-50: #EDF6FC;
  --Secondary-Dark-Blue-dark-blue-500: #4BA3DE;
  --Secondary-Grey-grey-100: #EDEEF1;
  --Secondary-Grey-grey-50: #F7F8F8;
  --Secondary-Error-error-500: #F04438;
  /* END OF COLORS */
}

body:has(dialog[open]) {
  overflow: hidden;
}

.k2 .outline, .k2.outline {
  background-color: transparent;
  border-color: var(--Primary-Navy-Blue-navy-blue-100);
  color: var(--Primary-Navy-Blue-navy-blue-500);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.k2 svg.spinner, .k2 img.spinner {
  display: block;
  animation: spin 1s linear infinite;
  transform-origin: 50% 50%;
}

.k2 svg.spinner.sm, .k2 img.spinner.sm {
  width: 15px;
}

.k2 .main-info {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--Primary-Navy-Blue-navy-blue-500);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.k2 .side-note {
  margin: 0;
  margin-bottom: 24px;
  color: var(--Primary-Navy-Blue-navy-blue-300);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.k2 .timer-info {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.k2 #timer {
  font-weight: 500;
}

.k2 .w-fit, .k2.w-fit{
  width: fit-content !important;
}

#kkwoo-flash-messages{
  margin-bottom: 10px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Respect users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  .k2 svg.spinner, .k2 img.spinner { animation: none; }

}

/* MESSAGES */

.k2 .message {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.k2 .error {
  color: var(--Secondary-Error-error-500);
}

/* END OF MESSAGES */

/* BUTTON*/

button.k2 {
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  font-family: "Poppins", sans-serif !important;
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid var(--Secondary-Success-success-500);
  background: var(--Secondary-Success-success-500);
  color: white;
  width: 100%;
  font-weight: 600;
}

.k2 button.link {
  color: var(--Secondary-Dark-Blue-dark-blue-500);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  border: none;
  cursor: pointer;
}

button.k2:disabled {
  opacity: .7;
}

button.k2.outline:hover {
  border: 1px solid var(--Primary-Navy-Blue-navy-blue-100);
  background: var(--Secondary-Grey-grey-50);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

/* BUTTON */

/* IMAGE */

img.k2 {
  max-width: fit-content !important; /* done this to override woo commerce max-width: 100% which affects k2 images */
}

/* END IMAGE */

/* MODAL */

.k2.modal-overlay {
  font-family: "Poppins", sans-serif !important;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EDEEF1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.k2 .modal-body {
  background-color: white;
  border-radius: 12px;
  background: #FFF;
  padding: 32px 24px;
  max-width: 500px;
  width: 100%;
  height: fit-content;
  overflow: auto;
  position: relative;
  animation: modalSlideIn 0.3s ease-out;
  box-sizing: border-box;
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.k2 .modal-close-btn {
  position: absolute;
  top: 32px;
  right: 24px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
  line-height: 1;
  transition: color 0.2s;
  width: 24px;
  height: 24px;
  padding: 0;
}

.k2 .modal-content {
  position: 'relative';
  margin-bottom: 32px;
}

.k2 .modal-close-btn:hover {
  color: #333;
}

.k2 .modal-actions {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 30px;
  width: 100%
}

.k2 .modal-btn {
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s;
}

.k2 .modal-btn-cancel {
  border: 1px solid #ddd;
  background-color: white;
  color: #666;
}

.k2 .modal-btn-cancel:hover {
  background-color: #f5f5f5;
}

.k2 .modal-title {
  font-family: Poppins, sans-serif !important;
  width: fit-content;
  position: absolute;
  top: 32px;
  left: 24px;
  color: var(--Primary-Navy-Blue-navy-blue-500);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.k2 .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  margin-top: 32px;
  text-align: center;
  color: var(--Primary-Navy-Blue-navy-blue-300);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 375px) {
  .k2 .modal-body {
    padding: 24px 16px;  
  }

  .k2 .modal-title {
    font-size: 15px;  
  }
}

/* END OF MODAL */


/* AMOUNT CARD */

.k2 .amount-card {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--Secondary-Grey-grey-100);
  background: var(--Secondary-Grey-grey-50);
  margin-top: 62px;
  margin-bottom: 32px;
}

.k2 .amount-card .label {
  color: var(--Primary-Navy-Blue-navy-blue-400);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.k2 .amount-card .amount {
  color: var(--Gray-Gray-800);
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}

/* END AMOUNT CARD */

/* FORM */

.k2 #mpesa-number-form .store-name, .k2 #manual-payment-instructions .store-name {
  position: absolute;
  top: 38px;
  right: 24px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #999;
  line-height: 1;
  transition: color 0.2s;
  height: 24px;
  padding: 0;
  max-width: 60%;        
  white-space: nowrap;    
  overflow: hidden;        
  text-overflow: ellipsis;
}

.k2 label {
  color: var(--Primary-Navy-Blue-navy-blue-600);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.k2 .amount-input, .k2 .mpesa-ref-input {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.k2 .amount-input .country-code {
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 14px 14px 10px;
  border-radius: 8px;
  border: 1px solid var(--Primary-Navy-Blue-navy-blue-100);
  background: white;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--Primary-Navy-Blue-navy-blue-300);
  font-size: 16px;
  line-height: 24px;
}

.k2 input {
  box-sizing: border-box;
  width: calc(100% - 44px);
  padding: 14px 14px 14px 10px;
  border-radius: 8px;
  border: 1px solid var(--Primary-Navy-Blue-navy-blue-100);
  background: white;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--Primary-Navy-Blue-navy-blue-300);
  font-size: 16px;
  line-height: 24px;
  flex-grow: 1;
}

@media screen and (max-width: 480px){
  .k2 #mpesa-number-form .store-name, .k2 #manual-payment-instructions .store-name {
    max-width: 40%;
    font-size: 14px;
  }
}

/* END FORM */

/* PIN INSTRUCTION SECTION */

.k2 #pin-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* END PIN INSTRUCTION SECTION */

/* POLLING SECTION */

.k2 #polling {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

/* END OF POLLING SECTION */

/* SUCCESS INFO SECTION */

.k2 #payment-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.k2 #payment-success .side-note {
  margin-top: 32px;
  margin-bottom: 12px;
}
/* END OF SUCCESS INFO SECTION */

/* ERROR INFO SECTION */

.k2 #payment-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.k2 #payment-error .side-note {
  margin-bottom: 0;
}

.k2 .switch-to-manual-payments {
  color: var(--Primary-Navy-Blue-navy-blue-500);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* END OF ERROR INFO SECTION */

/* NO PAYMENT RESULT RECEIVED SECTION */

.k2 #payment-no-result-yet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.k2 #payment-no-result-yet .side-note {
  margin-bottom: 0;
}

/* END OF NO PAYMENT RESULT RECEIVED SECTION */

/* PAYMENT REFUNDED SECTION */

.k2 #payment-refunded {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.k2 #payment-refunded .side-note {
  margin-bottom: 0;
}

/* END OF PAYMENT REFUNDED SECTION */

/* CHECK PAYMENT STATUS BUTTON */

button.k2#check-payment-status {
  margin-bottom: 10px;
}

/* END OF CHECK PAYMENT STATUS BUTTON */

/* MANUAL PAYMENTS SECTION */

.k2 #manual-payment-instructions .payment-instructions {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Secondary-Dark-Blue-dark-blue-500);
  background: var(--Secondary-Dark-Blue-dark-blue-50);
  margin-bottom: 32px;
}

.k2 #manual-payment-instructions .payment-instructions .title {
  margin-bottom: 8px;
  color: var(--Primary-Navy-Blue-navy-blue-500);
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}

.k2 #manual-payment-instructions .payment-instructions ol.instructions {
  margin: 0;
  padding: 0 28px;
  color: var(--Primary-Navy-Blue-navy-blue-500);
}

.k2 #manual-payment-instructions .payment-instructions .highlight {
  font-weight: 600;
}

/* END OF MANUAL PAYMENTS SECTION */
